<div class="update-bills-wrapper">
    <div class="update-bills-container">
        <div class="buttons">
            <p-button (onClick)="showNewBill()">New Bill</p-button>
        </div>
        <div *ngIf="showNewBillDialog" class="new-bill-wrapper">
            <div class="bill-container">
                <input [(ngModel)]="newBillName" class="new-bill-input" pInputText/>
                <div class="bill-content">
                    <input [(ngModel)]="newBillPrice" class="input" type="number" pInputText/>
                    <p-button (onClick)="addNewBill()" class="save-button" size="small" label="Save" />
                </div>
            </div>
        </div>
        <div class="bill-wrapper">
            <div class="bill-container" *ngFor="let bill of bills">
                <div class="bill-header">{{bill?.name}}</div>
                <div class="bill-content">
                    <input #billInput [id]="bill._id" class="input" type="number" pInputText [value]="bill.price"/>
                    <p-button class="save-button" size="small" label="Save" />
                </div>
            </div>
        </div>
    </div>
</div>