<div class="dashboard-wrapper">
  <p-toast />

  <div class="dashboard-container">
    <p-card header="Manage Bills" styleClass="bills-card">
      <div class="action-buttons mb-4">
        <p-button (onClick)="showNewBill()" label="New Bill" icon="bx bx-plus" class="flex-1" styleClass="w-full" />
      </div>

      @if (showNewBillDialog) {
        <div class="summary-grid mb-4 highlight-item slide-in">
          <div class="summary-item">
            <span class="label">Bill Name</span>
            <input [(ngModel)]="newBillName" class="w-full" pInputText placeholder="E.g., Internet" />
          </div>
          <div class="summary-item">
            <span class="label">Amount</span>
            <input [(ngModel)]="newBillPrice" class="w-full" type="number" pInputText placeholder="0.00" />
          </div>
          <div class="action-buttons" style="align-self: flex-end;">
            <p-button (onClick)="addNewBill()" class="flex-1" styleClass="w-full" severity="success" label="Save" icon="bx bx-save" />
          </div>
        </div>
      }

      <div class="bills-list">
        @for (bill of bills; track bill) {
          <div class="bill-item slide-in">
            <div class="bill-content" style="flex-wrap: wrap;">
              <input #billName [id]="bill._id" class="bill-header flex-1 w-full" pInputText [value]="bill.name" placeholder="Bill Name" />
              <input #billPrice [id]="bill._id" class="input flex-1" type="number" pInputText [value]="bill.price" placeholder="Amount" />
            </div>
            <p-button (onClick)="save(bill._id)" icon="bx bx-save" [rounded]="true" [text]="true" severity="success" />
          </div>
        }
      </div>

    </p-card>
  </div>
</div>