<div class="main-page-wrapper">
    <div *ngIf="hasAuthToken">

        <p-toast />
        <p-confirmDialog />

        <div class="table">
            <div class="input-row">
                <div class="title">
                    Income
                </div>
                <input class="input" type="number" pInputText [(ngModel)]="income" />
            </div>
            <hr />
            <div class="input-row">
                <div class="title">
                    Current CC Balance
                </div>
                <input class="input" type="number" pInputText [(ngModel)]="spent" />
            </div>
            <hr />
            <div class="data-row">
                <div class="title">
                    Bill Total
                </div>
                <div class="data">{{billTotal}}</div>
            </div>
            <hr />
            <div class="data-row">
                <div class="title">
                    Debt
                </div>
                <div class="data">{{income - (spent + billTotal)}}</div>
            </div>
            <hr />
            <div class="data-row">
                <div class="title">
                    Money Available
                </div>
                <div class="data">{{(income + spendingOffset) - (billTotal + purchaseTotal)}}</div>
            </div>
            <div *ngIf="currentPurchases.length > 0" class="purchase-table">
                <div class="data-row" *ngFor="let item of currentPurchases">
                    <div class="title">
                        {{item?.name}}
                    </div>
                    <div class="data">{{item?.price}}</div>
                </div>
            </div>

        </div>
        <div class="current-bills">
            <div class="extras">
                <div class="extra-container">
                    <div class="title">
                        Spending Offset
                    </div>
                    <input class="input" type="number" pInputText [(ngModel)]="spendingOffset" />
                </div>
                <div class="extra-container">
                    <div class="title">
                        Add New Purchase
                    </div>
                    <input class="input" type="number" pInputText [(ngModel)]="purchase" />
                </div>
                <div class="extra-container">
                    <div class="title">
                        Purchase Name
                    </div>
                    <input class="input" type="text" pInputText [(ngModel)]="purchaseName" />
                </div>
                <div class="extra-container">
                    <p-button (onClick)="addPurchase()" size="small" label="Add" />
                    <p-button (onClick)="confirmClearPuchases($event)" size="small" label="Clear" severity="danger"/>
                </div>
                
            </div>
            <div class="buttons">
                <p-button (onClick)="confirmClear($event)" size="small" label="Clear Bills" severity="danger"/>
                <p-button (onClick)="saveBills()" size="small" label="Save Bills" severity="success"/>
                <p-button (onClick)="addBill()" size="small" label="Add Bill" />
            </div>
            <div *ngFor="let bill of selectedBills">
                <div class="bill">
                    <div class="remove-bill">
                        <p-button (onClick)="removeBill(bill.index)" icon="bx bx-x" [rounded]="true" severity="danger" size="small" />
                    </div>
                    <div class="bill-name">
                            <p-dropdown *ngIf="!bill.saved"
                            [style]="{'max-width': '150px'}"
                            autoWidth="false"
                            [options]="bills" 
                            (onChange)="onBillChange($event, bill.index)"
                            optionLabel="name"
                            placeholder="Select a bill..."
                            [filter]="true"
                            filterBy="name"
                        />
                        <input *ngIf="bill.saved" [disabled]="true" class="bill-name-input" type="text" pInputText  [ngModel]="bill.name"/>
                    </div>
                    <div class="bill-price">
                        {{bill?.price}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!hasAuthToken">
        <div class="landing-page">
            <p-card class="token-card" header="Enter Access Token">
                <div class="token-card-content">
                    <input type="text" pInputText [(ngModel)]="authToken"/>
                    <p-button (onClick)="saveToken()" size="small" label="Save Token" />
                </div>
            </p-card>
        </div>
    </div>
</div>